body{
 font-family: Arial;
 background:#f5f7fa;
 padding:15px;
 max-width:900px;
 margin:auto;
}

h1{text-align:center}

input{
 width:100%;
 padding:12px;
 margin:15px 0;
 font-size:16px;
}

.problem{
 background:#fff;
 padding:15px;
 margin:12px 0;
 border-radius:10px;
 box-shadow:0 4px 10px rgba(0,0,0,.1);
}

button{
 margin-top:10px;
 padding:8px 12px;
 cursor:pointer;
}

.solution{
 display:none;
 margin-top:10px;
 background:#f0f0f0;
 padding:10px;
 border-radius:8px;
}

pre{
 white-space:pre-wrap;
}
